.grid-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
}

#divbox{
    width: 300px;
    height: 400px;
    background-color: red;
    text-align: center;
    margin: 10px;
    padding: 5px;
}
.text-container{
    margin: 40px;
}
#imgtest{
    width: 100%;
}